body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finalizado img {
    width: 100%;
}