*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #171a20;
}
html {
    scroll-behavior: smooth;
}

.desktop {
    display: none;
}
@media (min-width: 768px) {

    .desktop {
        display: initial;
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

a.logo {
    height: auto;
    width: auto;
    color: inherit;
}

header a {
    color: inherit;
}

header nav a {
    text-decoration: none;
    padding: 5px 10px;
}

header nav.center {
    text-align: center;
}

header nav.right{
    text-align: right;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content {
    
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
    position: static;

}

section h1 {
    font-size: 3rem;
}

section a {
    color: inherit;
}

aside {
    position: fixed;
    transition: right .4s ease;
    right: -320px;
    width: 320px;
    background-color: #FFF;
    padding: 80px 40px;
    z-index: 4;
    height: 100vh;
}
aside.active {
    right: 0;
}
aside a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;

}

aside button.close{
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
}

.backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0,0.35);
    transition: right .4s ease;
    backdrop-filter: blur(5px);
}

.backdrop.active{
    display: block;
}

.product {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 30px 0px 30px;
}

.product:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 20%;
}

#products {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuCart {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cartBtn {
    margin: 0px 20px 0px 20px;
}

#cartBtn:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 20%;
}

#menuBtn {
    margin: 0px 20px 0px 20px;
}

#menuBtn:hover {
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 20%;
}

.produtosMenu {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.produtosMenu:hover {
    text-decoration: underline;
}


aside button.closeCart{
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
}

#asideCart {
    padding: 60px 0px 0px 0px;
}

.cartProd {
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartProdImg {
    height: 50%;
    margin: 10px;
}

.cartProd div p {
    margin: 10px;
}
