* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #171a20;

}

html {
    scroll-behavior: smooth;
}

.desktop {
    display: none;
}

a {
    text-decoration: none;
    color: #171a20;
}

button {
    width: 20%;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #00BF63;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--bs-body-font-family);
}

button:hover {
    background-color: #02ff85;
}

/* Header: */

header {
    background-color: white;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr auto;
    top: 0;
    z-index: 2;
    padding: 5px 20px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logotipo {
    width: 200px;
}


#produtos {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


#produtos a {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

#menu a {
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}

#produtos a:hover,
span {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

#menu a:hover,
span {
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

@media (max-width: 1246px) {
    #produtos {
        width: 0px;
    }

    #produtos a,
    span {
        font-size: 0px;
        color: transparent;
        margin: 0px;
    }
}

/* ---------------------------------------- */

/* Main: */
main {
    background-image: url(https://wallpaperaccess.com/full/260177.jpg);
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

aside {
    position: fixed;
    transition: right .4s ease;
    right: -320px;
    width: 320px;
    background-color: #FFF;
    padding: 80px 40px;
    z-index: 4;
    height: 100vh;
    margin-top: -25px;
}

aside.active {
    right: 0;
}

aside a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;

}

aside button.close {
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
}

.backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: right .4s ease;
    backdrop-filter: blur(5px);
}

.backdrop.active {
    display: block;
}

.backdrop2 {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: right .4s ease;
    backdrop-filter: blur(5px);
}

.backdrop2.active {
    display: block;
}

#menuCart {
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtosMenu {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.produtosMenu:hover {
    text-decoration: underline;
}

aside button.closeCart {
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
}

#asideCart {
    padding: 60px 0px 0px 0px;
    overflow-y: scroll;
}

.cartProd {
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartProdImg {
    height: 50%;
    margin: 10px;
}

.cartProd div p {
    margin: 10px;
}

#fundo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#titulo {
    width: 90%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #FFF;
    font-size: 0px;
    margin-bottom: 0px;
}

.metade {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 25px;
}

.foto {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.texto {
    width: 50%;
    min-height: 330px;
    background-color: rgba(201, 201, 201, 0.911);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    font-size: 20px;
    padding: 20px;
}


.texto p:first-child {
    font-weight: bold;
}

.preco {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.preco .texto {
    width: 100%;
    margin: 75px;
}
.imagem{
    max-width: 100%;
    max-height: 100%;
}

h4 {
    margin: 5px;
    padding: 5px;
    background-color: #00BF63;
    border-radius: 4px;
}

@media (max-width: 670px) {
    .metade {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    
    button {
        width: 100%;
        height: 70px;
        cursor: pointer;
        border-radius: 10px;
        background-color: #00BF63;
        font-size: 13px;
        font-weight: bold;
        font-family: var(--bs-body-font-family);
    }
    aside {
        width: 50%;
    
    }
    .produtosMenu {
        font-size: 13px;
        font-weight: bold;
        margin: 20px 0px 20px 0px;
    }
    
}
@media (max-width: 410px) {
    #logotipo {
        width: 50%;
    }
}
/* ---------------------------------------- */

/* Footer */

/* ---------------------------------------- */

.produtoCarrinho {
    margin: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 90%;
    height: 15%;
    border-bottom: 2px solid rgba(201, 201, 201, 0.911);
}

.fotoCarrinho {
    width: 50%;
    margin: 1%;
    padding: 0;
}

.fotoCarrinho img{
    width: 100%;
}

.txtCarrinho {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.txtCarrinho p{
    font-size: 15px;
    margin: 0;
}

.botoes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoes button{
    height: 50%;
    width: 33.5%;
    margin: 5%;
}

.qtd{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#finalizar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    font-size: 80%;
}
#lixeira{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    background-color: red;
    font-size: 80%;
    font-weight: bold;
}

#finLim{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 100%;
    margin-bottom: 25px;
    
}

#total {
    margin-left: 10px;
}